.headerSite{
    background-image: url("../../img/sfondo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 43.5rem;
  
    background-color: white;
    height: calc(55vh - 60px)
    
  }
  
  .insideHeaderUp{
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
  }
  
  .container_logo{
    margin-left: 1rem;
    width: 50px;
    height: 50px;
  }
    
  .img_logo{
    width: 100%;
    height: 100%;
  }
  
  .menu{
    margin-right: 1rem;
  }
  
  .menu p{
    display: inline-block;
    margin: 0.4rem;
  } 
  
  .menu p a{
    display: block;
    text-decoration: none;    /*sottolineatura*/
    color: black;
    padding: 0.5rem;
    font-size: large;
  }

  .menu p a:hover{
    color: orange;
  }

  .support_us{
    border: 2px solid orange;
    border-radius: 0.5rem;
  }

  /* .support_us:hover{
    background-color: orange;
  }

  .support_us a:hover{
    color: white
  } */
    
  .title{
    text-align: center;
    font-size: 3.3rem ;
  }
    
  .title h1{
    z-index: 1;
  }