.footer{
    background-color: rgb(32, 35, 41);
    height: 25rem;
    min-height: calc(120px);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
  }
  
  .txt_footer{
    text-align: center;
    color: rgb(158, 158, 158);
    /*margin-top: 5rem;*/
  }
  
  .txt_footer p{
    display: inline-block;
    margin: 0.7rem;
  }